.inputs {
margin: auto;
align-items: center;
width: 100%;
}

.bg {
  /* The image used */
  background-image: url("/static/background.jpeg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
